<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


        <!-- 
        <app-nav-bar></app-nav-bar> -->

        <div class="content-wrapper">

            <router-outlet (activate)="onActivate($event)"> </router-outlet>
        </div>






        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>




</body>