<!-- #region Header-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    <i [class]="action.actionIcon"></i>&nbsp;{{
                    Mode
                    }}&nbsp;Aircraft
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->
<!-- #region Content-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card ">
                    <div class="card-header">
                        <div class="card-tools">
                            <button class="btn" (click)="BackToList()">
                                <i class="fas fa-stream"></i>
                            </button>
                        </div>
                    </div>
                    <form role="form" [formGroup]="DataForm" (ngSubmit)="onCreateOrUpdate()">
                        <div class="card-body">
                            <div class="row">
                                <!-- #region Make-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Code">Make </label>
                                        <input type="text" class="form-control" id="Make" formControlName="make" fo
                                            placeholder="Enter Make of Aircraft" [disabled]="action.fildisabler"
                                            [ngClass]="{'is-invalid': DataForm.controls.make.errors && isValid}" />
                                    </div>
                                </div>
                                <!-- #endregion -->

                                <!-- #region Model-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Model">Model</label>
                                        <input type="text" class="form-control" id="Model" formControlName="model"
                                            placeholder="Enter Model of Aircraft" [disabled]="action.fildisabler"
                                            [ngClass]="{'is-invalid': DataForm.controls.model.errors && isValid}" />
                                    </div>
                                </div>
                                <!-- #endregion -->
                                <!-- #region Registration-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Registration">Registration</label>
                                        <input type="text" class="form-control" id="registration"
                                            formControlName="registration" placeholder="Enter Registration of Aircraft"
                                            [disabled]="action.fildisabler"
                                            [ngClass]="{'is-invalid': DataForm.controls.registration.errors && isValid}" />
                                    </div>
                                </div>
                                <!-- #endregion -->

                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="form-group float-sm-right">
                                <button type="submit" class="btn btn-dark pl-3 pr-3 pt-2 pb-2" id="mainButton">
                                    <i [class]="action.mainBtnIcon"></i>&nbsp;&nbsp;{{
                                    action.btnName
                                    }}</button>&nbsp;&nbsp;
                                <button type="reset" class="btn btn-default pl-3 pr-3 pt-2 pb-2" (click)="BackToList()"
                                    [disabled]="action.fildisabler">
                                    Cancel
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- <pre>{{DataForm.getRawValue() | json}}</pre> -->
</section>
<!-- #endregion -->